# Local directories
*.idea/
*.ipynb_checkpoints/
*.pytest_cache/
*.build/
*.dist/
*.ophelia.egg-info/
*.tox/

# Virtualenv env
*env/
*venv/

# File extensions
*.csv
*.pyc
*.ipynb
*.pylint.txt
*.DS_Store

# Spark warehouse
*spark-warehouse/
